.po-container {
    position: absolute;
    background-color: #e2e8f0;
    z-index: 1;
    left: 110px;
    padding: 5px 15px;
    border-radius: 5px;
}

.po-container>ul {
    margin: 0;
    padding: 5px 10px;
}

.po-container>ul>li {
    list-style: none;
    font-size: 14px;
}

/*Ipad ngang(1024 x 768)*/
@media screen and (max-width: 1024px) {}

@media screen and (max-width: 991px) {}

/*Ipad dọc(768 x 1024)*/
@media screen and (max-width: 768px) {}

/*Tablet nhỏ(480 x 640)*/
@media screen and (max-width: 480px) {
    .po-container{
        left: 0;
        top: 40px;
    }
}

/*Iphone(480 x 640)*/
@media screen and (max-width: 320px) {}

/*Smart phone nhỏ*/
@media screen and (max-width: 240px) {}